{% extends 'back/produit/_base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier un produit</h1>

    {{ include('back/produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('back/produit/_delete.html.twig') }}
</div>
{% endblock %}