{% extends 'back/order/_base.html.twig' %}

{% block title %}New order{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new order</h1>

    {{ include('back/order/_form.html.twig') }}

</div>
{% endblock %}