{% extends 'back/category/_base.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}

 <a class = "btn btn-success" href="{{ path('app_back_category_list') }}">Retour à la liste</a>

<div class="container">
    <h1>Créer une Catégorie</h1>

    {{ include('back/category/_form.html.twig') }}

</div>
{% endblock %}