{% extends 'back/category/_base.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new category</h1>

    {{ include('back/category/_form.html.twig') }}

</div>
{% endblock %}