<form method="post" action="{{ path('app_back_cart_delete', {'id': cart.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce panier (action irreversible) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
    <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash-fill">{{ delete }}</i></button>
</form>