{% extends 'back/cart/_base.html.twig' %}

{% block title %}Nouveau panier{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Créer un panier</h1>

    {{ include('back/cart/_form-new.html.twig') }}

</div>
{% endblock %}