{% extends 'back/product/_base.html.twig' %}
{% block style %}
    <style>
        img
        {
            max-width: 600px;
        }
    </style>
{% endblock %}

{% block title %}Modififier produit{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Modifier un produit</h1>

    {{ include('back/product/_form.html.twig', {'button_label': 'Modifier'}) }}

</div>
{% endblock %}