{% extends 'back/product/_base.html.twig' %}

{% block title %}Modififier produit{% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier un produit</h1>

    {{ include('back/product/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# {{ include('back/product/_delete.html.twig') }} #}
</div>
{% endblock %}