{% extends 'back/product/_base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Créer un nouveau produit</h1>

    {{ include('back/product/_form.html.twig') }}

</div>
{% endblock %}