{% extends 'back/depot/_base.html.twig' %}

{% block title %}Modifier un depot{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier un depot</h1>

    {{ include('back/depot/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('back/depot/_delete.html.twig') }}
</div>
{% endblock %}