{% extends 'back/depot/_base.html.twig' %}

{% block title %}Nouveau dépôt{% endblock %}

{% block body %}
 
<div class="container-fluid">
    <h1 class="text-center">Créer un nouveau dépot</h1>

    {{ include('back/depot/_form.html.twig') }}

</div>
{% endblock %}