{% extends 'back/order/_base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<section class="container-fluid">
    <div class="row justify-content-around">
        <article class="card col-4">
            <div class="card-body">
                <h3 class="card-title">Infos commandes</h3>
             </div>
        </section>
{% endblock %}
