<form class="mb-3" action="" method="get">
        <label for="startDate">Date début : </label>
        <input type="date" name="startDate" id="startDate" value="{{ startDate }}">
        <label for="endDate">Date fin : </label>
        <input type="date" name="endDate" id="endDate" value="{{ endDate }}">
        <input type="submit" value="Afficher">
</form>